#root {
    /*max-width: 1280px;*/
    margin: 0 auto;
    /*padding: 2rem;*/
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 2rem;

    /*border: 1px solid gray;*/
    /*border-radius: .5rem;*/
    padding: 0 2rem;
}

ul {
    list-style-type: none;
}

.button-container {
    grid-column: 1 / 2;
    background-color: lightblue;
    border-radius: 2rem;
    padding: 0 0 0 2rem;
}
